{% extends 'core/base.html'%}
{% load static %}

{% block content %}
<!--Slider-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- Search bar -->
    <section id="search" class="section section-search center bg-section">
        <div class="container">
            <div class="row">
                <div class="col s10 m12 l12">
                    <h3 class="search-title black-text">Введите название вашего города!</h3>
                    <form class="col m12" method="POST" action="">
                        {% csrf_token %}
                        <div class="input-field">
                            {{form.name}}
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                        </div>
                        <button class="btn waves-effect waves-light button-add" type="submit" name="action">Добавить город
                            <i class="material-icons right">add</i>
                        </button>
                    </form>
                </div>
            </div>          
        </div>
    </section>  

    <!-- weather results -->  
    <section class="section center">
        <h4 class="result-title">Добавленные города</h4>
        {% include 'core/_messages.html' %}
        <button class="btn btn-primary">Сортировка по имени</button>
        <button class="btn btn-primary">Сортировка по температуре</button>
        <table class="table"><thead>
            <tr>
              <th scope="col">icon</th>
              <th scope="col">City</th>
                <th scope="col">Description</th>
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
                <th scope="col">Избранное</th>
            </tr>
          </thead>
          <tbody>
          {% for item in weather_data %}
            <tr>
                  <td><img src="http://openweathermap.org/img/w/{{ item.icon }}.png"></td>
                  <td>{{ item.city }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.temperature }}</td>
                  <td>{{ item.humidity }}</td>
                  <td><button class="btn btn-primary">Добавить</button></td>
            </tr>
          {% endfor %}
          </tbody>
    </table>
    </section>
</html>
{% endblock %}